<ion-content>
    <div class="container-fluid" style="background-color: #00AEEF;position: fixed;width: 100%;margin-bottom: 280px;z-index: 9999;">
        <div class="row" style="margin: 0px;">
            <div class="col-md-12">
                <h1 style="text-align: center;color: #FFF;margin: 10px 0px;font-size:18px">Introducción a la programación</h1>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 40px;">
        <div id="pregunta-container" class="row">
            <div class="col-md-12">
                <h3 style="color: #00AEEF;">Examen Calificado I:</h3>
                <p>Crear un programa con JS – HTML en cual se pueda ingresar el nombre de un empleado y sus dos últimos sueldos.</p>
                <ul>
                    <li>El programa deberá sacar el promedio de los dos sueldos y indicar en que nivel socio económico se encuentra el empleado.</li>
                    <li>El programa también debe indicar si el empleado mejoro, o disminuyo su sueldo o si se mantuvo constante</li>
                </ul>
                <table>
                    <thead>
                        <tr>
                            <th>NSE</th>
                            <th>Estrato</th>
                            <th>Ingreso<br>Familiar Soles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A</td>
                            <td>ALTA SUPERIOR</td>
                            <td>26500</td>
                        </tr>
                        <tr>
                            <td>A1</td>
                            <td>ALTO</td>
                            <td>12200</td>
                        </tr>
                        <tr>
                            <td>A2</td>
                            <td>MEDIO ALTO</td>
                            <td>6300</td>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td>MEDIO TIPICO</td>
                            <td>3500</td>
                        </tr>
                        <tr>
                            <td>B1</td>
                            <td>MEDIO</td>
                            <td>2900</td>
                        </tr>
                        <tr>
                            <td>B2</td>
                            <td>MEDIO BAJO</td>
                            <td>2300</td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td>BAJO SUPERIOR</td>
                            <td>1500</td>
                        </tr>
                        <tr>
                            <td>C1</td>
                            <td>BAJO</td>
                            <td>1392</td>
                        </tr>
                        <tr>
                            <td>C2</td>
                            <td>BAJO TIPICO</td>
                            <td>1243</td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td>POBRE</td>
                            <td>900</td>
                        </tr>
                        <tr>
                            <td>E</td>
                            <td>EXTREMA POBREZA</td>
                            <td>660</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" [(ngModel)]="nombres" placeholder="Ingresa un nombre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" [(ngModel)]="sueldo1" (keyup)="procesoDatos()" placeholder="Ingresa el sueldo 1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" [(ngModel)]="sueldo2" (keyup)="procesoDatos()" placeholder="Ingresa el sueldo 2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-default" style="margin: 0 auto;display: block;" (click)="alertBtn()" value="Procesar">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Empleado: {{nombres}}</h4>
                <p>Promedio de Sueldo: {{promedioSueldo}}</p>
                <p>Nivel Socio Economico: {{nivelSocioeco}}</p>
                <p>Situación del Sueldo: {{sueldoSituacion}}</p>
            </div>
        </div>
    </div>
</ion-content>